body {
    padding-top: 54px;
    background-color: white;
}

@media (min-width: 992px) {
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding-top: 56px;
    }
}
/* Temporary navbar container fix */

.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

#footer {
    margin-top: 20px;
}
/*.nav-link {*/
/*    font-size: 0.9em;*/
/*}*/

#navigation {
    margin-bottom: 80px;
    background-color: #15b6b8!important;
}
p {font-size: 16px;}

.bg-inverse{
    background-color: #15b6b8!important;
}
.goback {
    z-index: 999;
}